<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">
<head>  
  <title>Parcial 2</title>  
  <meta charset="utf-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>  
</head>  
<body>  
  
<div class="container">  
  <h2>Bienvenido a mi parcialito :D</h2>  
  <form th:action="@{/guardarCategoria}">      
    <button type="submit" class="btn btn-primary">Ingresar Categoría</button>  
  </form> 
  <br>
  <form th:action="@{/guardarLibro}">      
    <button type="submit" class="btn btn-primary">Ingresar Libro</button>  
  </form> 
  <br>
  <form th:action="@{/verLibros}">      
    <button type="submit" class="btn btn-primary">Ver Libros</button>  
  </form>  
  
  <br>
  <br>
  <br>
  <h2 th:text="${exito}"></h2>
</div>  
  
</body>  
</html>  