<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ingresar Categoria</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Ingresar categoría</h2>
  <form th:action="@{/ingresarCategoria}"	th:object="${categoria}" method="post">
    <div class="form-group">
      <label >Nombre Categoría:</label>
      <input type="text" th:field="*{s_categoria}" class="form-control"  placeholder="Ingrese categoría">
	  <span th:errors="*{s_categoria}" style="color: #E81505"></span>	    
    </div>
    
    <button type="submit" class="btn btn-primary">Guardar Categoria</button>
  </form>
</div>

</body>
</html>
