<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<title>Listado</title>
</head>
<body>
	<h1>Listado de libros</h1>
	<br>

	<table class="table table-striped">
		<thead>
			<th>Codigo de libro</th>
			<th>Titulo</th>
			<th>Autor</th>
			<th>Isbn</th>
			<th>Categoria</th>
			<th>Fecha Ingreso</th>
			<th>Estado</th>
		</thead>
		<tbody>
			<th:block th:each="libro, row:${libros}">
				<tr th:each="v : ${libro}">
					<td th:text="${v.c_libro}"></td>
					<td th:text="${v.s_titulo}"></td>
					<td th:text="${v.s_autor}"></td>
					<td th:text="${v.s_isbn}"></td>
					<td th:text="${v.categoria.s_categoria}"></td>					
					<td th:text="${v.f_ingreso}"></td>
					<td th:text="${v.b_estado}"></td>
				</tr>
			</th:block> 
		</tbody>
	</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  
</body>
</html>